@{
    ViewBag.Title = "Kingdom";
}

<script type="text/javascript" src="~/scripts/lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/scripts/map.js"></script>

<h2>Kingdom</h2>

<canvas id="mapCanvas" width="600" height="800" style="border:1px solid #000000;"></canvas><br />

<a href="no-javascript.html" title="Pan Right" id="panright">Pan Right</a>
<a href="no-javascript.html" title="Pan Left" id="panleft">Pan Left</a>
<a href="no-javascript.html" title="Pan Up" id="panup">Pan Up</a>
<a href="no-javascript.html" title="Pan Down" id="pandown">Pan Down</a>

<a href="no-javascript.html" title="Scale Up" id="scaleup">Scale Up</a>
<a href="no-javascript.html" title="Scale Down" id="scaledown">Scale Down</a>

Number of Villages: <label id="villagecount">0</label>